.root {
    -fx-background-image: url("/images/gif.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 493 735;
    -fx-background-position: center center;
}

#loginLabel {
    -fx-alignment: center;
    -fx-font-size: 20px;
}

#hyperLink{
    -fx-text-fill: WHITE;
}
