.root {
    -fx-background-image: url("/images/original.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 1600 1200;
    -fx-background-position: center center;
}

.table-view{
    -fx-background-color: transparent;
}

.table-column{
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .filler{
    -fx-background-color: transparent;
}

#hyperLink{
    -fx-text-fill: WHITE;
}

#welcomeMessage{

    -fx-font-size: 20px;
}

#title{
    -fx-font-size: 20px;
}

#labelForTable {

    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

#labelForActivity{
    -fx-font-size: 15px;
}

.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}